main {
    margin-left: 62px;
    margin-top: -24px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 5px;
}

.MuiPaper-root {
    max-width: 100% !important;
    width: 100% !important;
}