body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:active, a:focus {
  text-decoration: none !important;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main div.homeGrid #loadingAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main div.homeGrid {
  height: 100vh;
  margin-left: 62px;
  margin-top: -50px;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5px;
}

div.movieDetailImage > img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

div.movieDetailImage {
  max-width: 60vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

main div.movieDetailWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 74px;
  margin-top: 7.5%;
  margin-bottom: 10%;
}

main div.movieDetailButtonWrapper #loadingAnimation {
  position: static;
}

main div.movieDetailButtonWrapper button {
    padding: 14px;
    margin-right: 10px;
    background: #1976d2;
    color: white;
    text-indent: 0px;
    display: inline-block;
    text-align: center;
    align-items: flex-end;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    border-color: #1976d2;
}

div.movieDetailWrapper > h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

#addToFavourite {
  font-size: 62px;
  color: gold;
}

#addToFavourite:hover {
  color: orangered;
  cursor: pointer;
}

.favourite {
  color: orangered !important;
}

.notFavourite {
  color: gold !important;
}

article.movieDetailOverview {
  width: 50%;
}

#searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  box-shadow: none;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBar {
  width: 74%;
  padding: 15px;
}

#searchButton {
  padding: 9px;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

@media only screen and (max-width: 767px) {
  article.movieDetailOverview {
    width: 90%;
  }
  article.movieDetailOverview p {
    font-size: 0.75rem;
  }
  div.movieDetailWrapper > h2 {
    font-size: 1.5rem;
  }
  main div.movieDetailWrapper {
    margin-top: 0px;
  }
  #addToFavourite {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 726px) {
  main div.homeGrid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}